.submitButton {
    font-weight: 600;
    color: white;
    background-color: #FF6520;
    float: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 0px 0px 0px 0px !important;
    height: inherit !important;
}

.help-box {
    padding: 10px;

    box-shadow: 0 -1px 0 #EDF2F7, 0 0 1px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    border-color: #FF4F03;
    margin-top: 5px;
}

.help_title {
    font-weight: 600;
}

.help-box a {
    text-decoration: none;
    color: initial;
}

.help_content {
    margin-top: 10px;
}

.recent-project-item.index {
    box-shadow: 0 -1px 0 #EDF2F7, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    border: none;
    margin-right: 10px;
    height: 257px;
}

.project-bottom-details.index {
    border-top: rgb(208, 208, 208) solid 1px;
    border-bottom: rgb(208, 208, 208) solid 1px;
}

.recent-project-title.index {
    border-right: rgb(209, 209, 209) solid 1px;
}

h2.home-welcome {
    font-family: 'museo_sans100';
    font-size: 25px;
    color: #ff4f00;
    padding: 10px;
}

.line.index {
    width: 100%;
    float: left;
    height: 1px;
    background-color: #dcdede;
    margin: 30px auto;
}

.feature-list {
    width: 450px;
    float: left;
    margin-bottom: 10px;
    height: 100px;
}

.feat-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
}

.feat-box a {
    color: initial;
}

.feat-img {
    width: 80px;
    height: 80px;
}

.feat-text {
    margin-left: 120px;
    margin-top: -60px;
    font-size: 30px;
}

.tagline-box {
    width: 330px;
    border: 1px solid #FF6520;
    padding: 10px;
    color: #FF6520;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
}

/*for pagination */
.pagination {
    height: 40px;
    margin: 20px 0;
    float:left;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
}

.pagination li {
    display: inline
}

.pagination a, .pagination span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0
}

.pagination a:hover, .pagination .active a, .pagination .active span {
    background-color: #FF4F03;
/ / #f5f5f5
}

.pagination .active a, .pagination .active span {
    color: #fff;
/ / #999;
    cursor: default
}

.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
    color: #999;
    cursor: default;
    background-color: transparent
}

.pagination li:first-child a, .pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px
}

.pagination li:last-child a, .pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.pagination-centered {
    text-align: center
}

.pagination-right {
    text-align: right
}

/*!* added for sliding social menu *!*/
/*.project-action-btns{*/
/*display: none;*/
/*padding: 5px;*/

/*}*/
.project-action-btn {
    margin-bottom: 3px;

}

/* for route search fields*/
.route-area div ul {
    margin-left: 5px;
}

.route-area div ul > li {
    margin-top: 5px;
    list-style-type: none;
    border-bottom: dotted 1px black;
    height: 20px;
    width: 270px;
}

#route-result li:hover {
    background: #E2E7ED;
    height: 20px;

}

.route-area > a {
    text-decoration: none;
    font-size: 18px;
}

/* route search fields ends*/
/*for verticla divider between search and router name*/
.divider {
    border-right: 1px solid #cfc7c0;
}

.share-active {
    width: 360px;
    border: none;
}

.click-user {
    cursor: pointer;
}

.unroute {
    border: 2px solid #FF4F00;
    color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 11px;
    padding: 1px;
    font-weight: 600;
    text-align: center;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.routed-name {
    font-weight: 600;
    margin-top: 2px;
}

.routed-users {
    height: 200px;
    overflow-y: auto;
}

.routed-users li {
    margin-bottom: 8px;
}

.routed-users a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

/*.route-area {*/
    /*height: 200px;*/
    /*overflow: hidden;*/
    /*!*overflow: overlay;*!*/
/*}*/

.suc{
    color:orangered; background: white; width: 295px; position: absolute; margin-top: -20px;
}

.user-name-tops {
    color:#FF4F03;/*#4a77a4*/
    font-size: 24px;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DBE0E5;
}
.user-name-tops a{
    text-decoration: none;
    color: #FF4F03;
}
.user-name-tops.a.visited{
    color: #FF4F03;
}

.message-date {
    float: left;
    margin-top: 1px;
    font-size: 10px;
    width: 60px;
    color: rgba(129, 138, 14, 0.53);
}
#apply_project_button{
    height: 30px;
    padding: 0 20px 0 20px;
    color: #fff;
    margin: 0;
    background: #ff4f00;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    font-family: 'museo_sans700';
    font-size: 13px;
    cursor: pointer;
}

.apply-project-area {
    width: 298px;
    padding: 10px;
    margin-top: 0px;
    display: none;
    float: right;
    border: 1px solid #d9dee4;
    position: absolute;
    top: 141px;
    left: 655px;
    right: 10px;
    background-color: rgba(237, 242, 247, 1);
}
.apply-success{
    display:none;
}
.content-title-search{
    font-family: 'museo_sans100';
    font-size: 35px;
    color: #181818;
    text-decoration: none;
}
.footnote a {text-decoration: none;
/*text-orientation:none;*/
}
.footnote a.visited{color: #1700EE;  }
.my-projects-list a{text-decoration: none;/*font-size: 18px;*/}
.my-projects-list>li a.visited{color: #1700EE;}
.ver-admin-page{
    width: 12px;
    padding-left:5px;
}

table#t02 tr:nth-child(even) {
    background-color: #fff;
}
table#t02 tr:nth-child(odd) {
    background-color:#f2f4f7;
}
table#t02 th	{
    background-color: #4a77a4;//#FF4F03;
    color: white;
}
.adminlist-table {
    width: 100%;
    /*border: 1px solid #d6dbe2;*/
    border-collapse: collapse;
}

.adminlist-table td, .adminlist-table th {
    /*border: 1px solid #d6dbe2;*/
    border-collapse: collapse;
    height: 30px;
    text-align: left;
    vertical-align: middle;
    padding:5px;
    border-collapse: collapse
}

.adminlist-table th {
    background: #f2f4f7;
}
.adminlist-table td {
    color: #4a77a4;
}

.adminlist-table td.bold {
    font-family: "museo_sans900";

}
.adminlist-table td>a{text-decoration: none;color:#4a77a4;}

/*.admin-rate-area {*/
    /*overflow: hidden;*/
    /*margin-top: 5px;*/
    /*float: left;*/
    /*display: none;*/
/*}*/
.admin-rate-area{
    display: none;
    /*position: absolute;*/
    position: fixed;
    top: 15%;
    left: 30%;
    /*height: 100px;*/
    width: 280px;
    border: 3px solid #FF4E00;
    background: #ffffff;
    margin-top:5px;
    float:left;
    overflow:inherit;
    padding: 10px;
}

.admin-rate-area input {
    margin-right: 20px;
    float: right;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #d9dee4;
    padding: 0;
}
.listheight{
    height:29px;
    line-height: 27px;
}
.close-me{
    border: 2px solid #F10505;
    color: white;
    background: #F10505;
    /* border-radius: 50%; */
    width: 15px;
    height: 13px;
    font-size: 15px;
    padding: 1px;
    font-weight: 600;
    text-align: center;
    float: right;
    /* margin-right: 5px; */
    cursor: pointer;
}

.buttonclick{
    position: absolute;
    border: 2px solid #F10505;
    color: white;
    background: #F10505;
    border-radius: 8%;
    font-size: 32px;
    padding: 1px;
    text-align: center;
    cursor: pointer;
}
/*.admin-rate-area .admin-slider-area {*/
    /*float: left;*/
    /*width: 200px;*/
    /*!*height: 30px;*!*/
    /*line-height: 30px;*/
    /*text-align: left;*/
    /*padding-left: 5px;*/
    /*border: 1px solid #d9dee4;*/
    /*border-left:1px solid #d9dee4;*/
/*}*/

/*.admin-rate-area .admin-slider-area span.rate-range {*/
    /*float: left;*/
    /*display: block;*/
    /*width: 25px;*/
   /*line-height:30px;*/
/*}*/

/*.admin-rate-area .admin-slider-area #admin-slider-range {*/
    /*float: left;*/
    /*width: 233px;*/
    /*margin: 8px 5px 0 5px;*/
    /*border: #d9dee4 solid 1px;*/
/*}*/

/*.admin-rate-area .admin-slider-area .project-action-btn {*/
    /*padding: 0 0px;*/
    /*height: 20px;*/
    /*line-height: 21px;*/
    /*margin-top: 5px;*/
    /*width: 28px;*/
/*}*/
/*for photo userlist*/
.userlists-photo {
    height: 50px;
    float: left;
    //margin-left: 25px;
    //margin-bottom: 20px;
    overflow: hidden;
}
.userlists-photo img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    float: left;
}
/*  */
#image_preview{
    max-width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    alignment: right
}

#image_preview img{
    width: 150px;
    height: 150px;
    padding-left: 106px;
}

.divline {
    width: 100%;
    height: 1px;
    background-color: #dcdede;
    margin: 10px auto;
    /*margin-bottom: 10px;*/
}
.seed-value {
    display: inline-block;
    height: 25px;
    border: #ee4a00 solid 1px;
    background: #ff4f00;
    line-height: 27px;
    padding: 0 5px 0 5px;
    font-family: 'museo_sans500';
    font-size: 15px;
    color: #fff;
    margin: 0px 0px 0px 10px;
    position: relative;
    /*top: -5px;*/
}
.admin-seed-area{
    display: none;
    position: absolute;
    top: 33px;
    left: 190px;
    /*height: 100px;*/
    width: 310px;
    border: 1px solid #FF4E00;
    background: #ffffff;
    margin-top:5px;
    float:left;
    /*overflow:inherit;*/
    padding: 5px;
}
.seeding-block {
    overflow: hidden;
    float: left;
    margin-left: 2px;
    text-align: right;
    font-family: 'museo_sans300';
    font-size: 14px;
}
.seeding-block ul li {
    margin-bottom: 5px;
}
.seeding-block ul li .nums {
    width: 27px;
    height: 22px;
    border: #d6dbe2 solid 1px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    background: #e0e5eb;
    margin-left: 2px;
}
.content-left-col .user-photo .name-block a{text-decoration:none;color:white;}

/*for timer */

.countdown-timer{
    /*display: none;*/
    position: absolute;
    top: 15px;
    left: 160px;
    width: 75%;
    border: 2px solid #FF4E00;
    background: none repeat-x scroll 4px 3px #FFFFFF;
    float:left;
    padding: 5px;
    position: fixed;
    filter:alpha(opacity=40);
    z-index: 1000;
    opacity: 0.98;
    bottom:5%;
    /*overflow: scroll;*/
}
.top-text-index{
    padding-top: 70px;
    text-align: center;
    font-size: 35px;
    color: #FF4E00;
    /*background: white;*/
}
.bottom-text-index{
    padding-top: 34px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: red;
    /*background: white;*/
}



.project-rater-area div ul {
    margin-left: 5px;
    /*margin-top: 40px;*/
}

.project-rater-area div ul > li {
    margin-top: 5px;
    list-style-type: none;
    border-bottom: dotted 1px black;
    height: 20px;
    width: 270px;
}

#rater-result li:hover {
    background: #E2E7ED;
    height: 20px;

}

.project-rater-area > a {
    text-decoration: none;
    font-size: 18px;
}
.project-rater-area {
    display: none;
    float: left;
    margin-top: 10px;
    height: 200px;
    /*width: 598px;*/
    overflow: hidden;
    padding: 10px;
    /*border: 1px solid #d9dee4;*/
    position: absolute;
    top: 132px;
    left: 124px;
    border: 1px solid #FF4E00;
    background: #ffffff;
    float:left;

}

.project-rater-area input {
    /*float: left;*/
    line-height: 35px;
    text-align: center;
    /*border: 1px solid #d9dee4;*/
    padding: 0;
    height: 33px;
    padding: 0 15px 0 15px;
    border: #d6dbe2 solid 1px;
    background: #e0e5eb;
    border-radius: 3px;
}
.project-rater-area input[type="text"] {
    width: 250px;
    height: 33px;
    padding: 0 15px 0 15px;
    border: #d6dbe2 solid 1px;
    background: #e0e5eb;
    border-radius: 3px;
}
.rater-users{
    height: 200px;
    overflow-y: auto;
}
.rater-users li {
    margin-bottom: 8px;
}
.rater-users a{
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}
.rater-name {
    font-weight: 600;
    margin-top: 2px;
}


.remove-rater{
    border: 2px solid #FF4F00;
    color: red;
    border-radius: 50%;
    width: 11px;
    height: 10px;
    font-size: 11px;
    padding: 1px;
    font-weight: 600;
    text-align: center;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

/* for blogpost in right side ad*/
.banner-post{max-height:295px;
    overflow-y:hidden ;
   border: 1px solid #FF4F00
}
.right-recent-post{
    padding: 5px;
    /*border: 1px solid #FF4F00;*/
    /*max-height: 260px;*/
    /*overflow-y: scroll;*/
}
.recent-post-title{
    background: #FF4F00;
    color: #ffffff;
    font-size: 21px;
    padding: 2px;
    cursor:pointer;
    text-align: center;
}
.postp{font-size: 11px;}
.recent-post-title a{text-decoration: none;color:#FFFFFF;}

.recent-blog-li a{text-decoration:none}
.recent-blog-li a:visited{color:#4a77a4;}
.recent-post:hover{color:#FF4F00;}

.recent-post{font-size: 18px;
    color: #4a77a4;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
/* for blogpost in right side ad*/
/*index page centerme*/
.centerme{
float: left;
overflow: hidden;
padding: 30px 0 30px 0;
margin: 0 auto;}
.load-more{
    float: left;
    width: 100px;
    margin-top: -69px;
    height: 35px;
    margin-left: 40%;
    background: #FF4F00;
    border: 1px solid #FF4F00;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
}



.profile-input{
    height:25px;
    width:70%;
    margin:30px auto;
}

.profile-input input[type='text'],.profile-input input[type='email']{
    height: 30px;
    width: 24%;
    border-radius: 3px;
    padding: 0;
    border: #e4e4e4 solid 1px;
    /*background: #dedad8;*/
    color: #515151;
    margin-left: 8px;
    margin-bottom: 2px;
    padding-left: 15px;
    float: left;
}
.profile-input input[type='button']{
    font-family: 'museo_sans500';
    height: 32px;
    width: 15%;
    border-radius: 3px;
    padding: 0;
    border: none;
    background: #FF4F03;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
    float: left
}
